<ng-container *ngIf="tenantModel && pageLoaded">
  <div class="container mx-auto md:px-4 xs:px-0 mt-8 md:w-11/12">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full md:w-1/2">
        <div class="bg-white shadow-md rounded px-8 pt-8 pb-8 mb-4 sm:px-4">
          <!-- Personal Information Form Content -->
          <form #f1="ngForm" novalidate (ngSubmit)="f1.form.valid && editPersonalInformation()">
            <div class="space-y-12">
              <div class="pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.PERSONAL_INFO_HEADER' | translate }} -
                  {{'BENUTZERNAME' | translate}}: {{tenantModel.username}}</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">{{ 'MANAGE_TENANT_SETTINGS.PERSONAL_INFO_SUBHEADER' | translate }}</p>
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="sm:col-span-3">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.FIRST_NAME' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             required
                             #firstName="ngModel"
                             [(ngModel)]="tenantModel.firstName"
                             name="first-name"
                             id="first-name"
                             [class.text-red-900]="f1.submitted && firstName.invalid"
                             [class.ring-red-300]="f1.submitted && firstName.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && firstName.invalid"
                             [class.focus:ring-red-500]="f1.submitted && firstName.invalid"
                             autocomplete="given-name"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && firstName.invalid " class="mt-2 text-sm text-red-600" id="firstName-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="sm:col-span-3">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.LAST_NAME' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             required
                             #lastName="ngModel"
                             [(ngModel)]="tenantModel.lastName"
                             [class.text-red-900]="f1.submitted && lastName.invalid"
                             [class.ring-red-300]="f1.submitted && lastName.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && lastName.invalid"
                             [class.focus:ring-red-500]="f1.submitted && lastName.invalid"
                             name="last-name"
                             id="last-name"
                             autocomplete="family-name"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && lastName.invalid " class="mt-2 text-sm text-red-600" id="lastName-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="sm:col-span-3">
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.EMAIL' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             required
                             #email="ngModel"
                             [(ngModel)]="tenantModel.email"
                             [class.text-red-900]="f1.submitted && email.invalid"
                             [class.ring-red-300]="f1.submitted && email.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && email.invalid"
                             [class.focus:ring-red-500]="f1.submitted && email.invalid"
                             name="email"
                             id="email"
                             autocomplete="email"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && email.invalid " class="mt-2 text-sm text-red-600" id="email-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="sm:col-span-3">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.PHONE' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             required
                             #phone="ngModel"
                             [(ngModel)]="tenantModel.phone"
                             [class.text-red-900]="f1.submitted && phone.invalid"
                             [class.ring-red-300]="f1.submitted && phone.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && phone.invalid"
                             [class.focus:ring-red-500]="f1.submitted && phone.invalid"
                             name="phone"
                             id="phone"
                             autocomplete="tel"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && phone.invalid " class="mt-2 text-sm text-red-600" id="phone-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="col-span-full">
                    <label for="address" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.ADDRESS' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             #address="ngModel"
                             [(ngModel)]="tenantModel.address"
                             [class.text-red-900]="f1.submitted && address.invalid"
                             [class.ring-red-300]="f1.submitted && address.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && address.invalid"
                             [class.focus:ring-red-500]="f1.submitted && address.invalid"
                             name="address"
                             id="address"
                             autocomplete="street-address"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && address.invalid " class="mt-2 text-sm text-red-600" id="address-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="sm:col-span-3 sm:col-start-1">
                    <label for="zip" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.ZIP' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             #zip="ngModel"
                             [(ngModel)]="tenantModel.zip"
                             [class.text-red-900]="f1.submitted && zip.invalid"
                             [class.ring-red-300]="f1.submitted && zip.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && zip.invalid"
                             [class.focus:ring-red-500]="f1.submitted && zip.invalid"
                             name="zip"
                             id="zip"
                             autocomplete="postal-code"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && zip.invalid " class="mt-2 text-sm text-red-600" id="zip-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="sm:col-span-3">
                    <label for="city" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.CITY' | translate }}</label>
                    <div class="mt-2">
                      <input type="text"
                             #city="ngModel"
                             [(ngModel)]="tenantModel.city"
                             [class.text-red-900]="f1.submitted && city.invalid"
                             [class.ring-red-300]="f1.submitted && city.invalid"
                             [class.placeholder:text-red-300]="f1.submitted && city.invalid"
                             [class.focus:ring-red-500]="f1.submitted && city.invalid"
                             name="city"
                             id="city"
                             autocomplete="address-level2"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <p *ngIf="f1.submitted && city.invalid " class="mt-2 text-sm text-red-600" id="city-error">{{ 'MANAGE_TENANT_SETTINGS.REQUIRED_FIELD' | translate }}</p>
                  </div>
                  <div class="col-span-full">
                    <label for="iban" class="block text-sm font-medium leading-6 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.IBAN' | translate }}</label>
                    <div class="mt-2 relative">
                      <!-- Eingabefeld zum Bearbeiten der IBAN -->
                      <input *ngIf="showFullIban" type="text"
                             [(ngModel)]="tenantModel.iban"
                             name="iban"
                             id="iban"
                             autocomplete="IBAN"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      <!-- Eingabefeld für die maskierte Ansicht -->
                      <input *ngIf="!showFullIban" type="text"
                             [value]="maskedIban"
                             readonly
                             id="iban_hidden"
                             name="iban"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <!-- Schaltfläche zum Umschalten der Ansicht -->
                    <div class="mt-2 flex justify-end">
                      <button (click)="toggleIbanVisibility()"
                              type="button"
                              class="px-3 py-1 text-sm font-medium text-gray-600">
                        {{ showFullIban ? 'Verbergen' : 'Anzeigen' }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <button type="submit"
                      [disabled]="submittingRequest"
                      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <div role="status" *ngIf="submittingRequest">
                  <svg aria-hidden="true" class="ml-1 w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                  </svg>
                  <span class="sr-only">{{ 'MANAGE_TENANT_SETTINGS.LOADING' | translate }}</span>
                </div>
                {{ 'MANAGE_TENANT_SETTINGS.SUBMIT_BUTTON' | translate }}
              </button>
            </div>
          </form>

        </div>
      </div>

      <div class="w-full md:w-1/2 flex flex-col gap-4">
        <div class="flex-1">
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
            <!-- Other Settings Form Content -->
            <form #f1="ngForm" novalidate (ngSubmit)="f1.form.valid && editPersonalInformationSetting()">
              <div class="space-y-12">
                <div class="pb-12">
                  <h2 class="text-base font-semibold leading-7 text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.OTHER_SETTINGS_HEADER' | translate }}</h2>
                  <p class="mt-1 text-sm leading-6 text-gray-600">{{ 'MANAGE_TENANT_SETTINGS.OTHER_SETTINGS_SUBHEADER' | translate }}</p>
                  <!--              <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">-->
                  <fieldset class="mt-4">
                    <legend class="sr-only">Notifications</legend>
                    <div class="space-y-5">
                      <div class="relative flex items-start">
                        <div class="flex h-6 items-center">
                          <input id="comments"
                                 [(ngModel)]="tenantModel.orderSettings.orderConfirmationEmail"
                                 aria-describedby="comments-description" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                        </div>
                        <div class="ml-3 text-sm leading-6">
                          <label for="comments" class="font-medium text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.ORDER_CONFIRMATION' | translate }}</label>
                          <p id="comments-description" class="text-gray-500">{{ 'MANAGE_TENANT_SETTINGS.ORDER_CONFIRMATION_DESCRIPTION' | translate }}</p>
                        </div>
                      </div>
                      <div class="relative flex items-start flex-col">
                        <div class="flex items-center mb-2">
                          <input id="candidates"
                                 [(ngModel)]="tenantModel.orderSettings.sendReminderBalance"
                                 (ngModelChange)="reminderBalanceSet($event)"
                                 aria-describedby="candidates-description" name="candidates" type="checkbox"
                                 class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                          <div class="ml-3 text-sm leading-6">
                            <label for="candidates" class="font-medium text-gray-900">{{ 'MANAGE_TENANT_SETTINGS.BALANCE_REMINDER' | translate }}</label>
                            <p id="candidates-description" class="text-gray-500">{{ 'MANAGE_TENANT_SETTINGS.BALANCE_REMINDER_DESCRIPTION' | translate }}</p>
                          </div>
                        </div>

                        <div class="mt-2">
                          <label for="amount" class=" text-sm font-medium text-gray-900">Betrag Erinnerung</label>
                          <input id="amount"
                                 [disabled]="!tenantModel.orderSettings.sendReminderBalance"
                                 [required]="tenantModel.orderSettings.sendReminderBalance"
                                 [(ngModel)]="tenantModel.orderSettings.amountBalance"
                                 name="amount" type="number" step="0.01"
                                 class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                      </div>
                      <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button type="submit"
                                [disabled]="submittingRequest"
                                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >
                          <div role="status" *ngIf="submittingRequest">
                            <svg aria-hidden="true" class="ml-1 w-5 h-5 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">{{ 'MANAGE_TENANT_SETTINGS.LOADING' | translate }}</span>
                          </div>
                          {{ 'MANAGE_TENANT_SETTINGS.SUBMIT_BUTTON' | translate }}
                        </button>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex-1">
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
        <form #f3="ngForm" novalidate (ngSubmit)="f3.form.valid && changePassword()">
          <div class="space-y-12">
            <div class="pb-12">
              <h2 class="text-base font-semibold leading-7 text-gray-900">{{ 'PASSWORT_AENDERN' | translate }}</h2>
              <p class="pb-1 text-sm leading-6 text-gray-600" [innerHTML]="'PASSWORT_AENDERN_DETAILS' | translate"></p>
              <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                  <label for="old_password" class="block text-sm font-medium leading-6 text-gray-900">{{ 'ALTES_PASSWORT' | translate }}</label>
                  <div class="mt-2">
                    <input [type]="showPasswords ? 'text' : 'password'" required #old_password="ngModel" [(ngModel)]="newPassword.oldPassword" name="old_password" id="old_password" [ngClass]="{'invalid-input': f3.submitted && old_password.invalid}" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <p *ngIf="f3.submitted && old_password.invalid" class="mt-2 text-sm text-red-600" id="old_password_error">{{ 'REQUIRED_FIELD' | translate }}</p>
                </div>
                <div class="sm:col-span-3">
                  <label for="new_password" class="block text-sm font-medium leading-6 text-gray-900">{{ 'NEUES_PASSWORT' | translate }}</label>
                  <div class="mt-2">
                    <input [type]="showPasswords ? 'text' : 'password'" required (keyup)="validatePassword()" #new_password="ngModel" [(ngModel)]="newPassword.newPassword" [ngClass]="{'invalid-input': f3.submitted && new_password.invalid}" name="new_password" id="new_password" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <p *ngIf="f3.submitted && new_password.invalid" class="mt-2 text-sm text-red-600" id="new_password_error">{{ 'REQUIRED_FIELD' | translate }}</p>
                </div>
                <div class="sm:col-span-3">
                  <label for="new_password_repeat-name" class="block text-sm font-medium leading-6 text-gray-900">{{ 'NEUES_PASSWORT_WIEDERHOLEN' | translate }}</label>
                  <div class="mt-2">
                    <input [type]="showPasswords ? 'text' : 'password'" required (keyup)="validatePassword()" #new_password_repeat="ngModel" [(ngModel)]="newPassword.repeatNewPassword" [ngClass]="{'invalid-input': f3.submitted && new_password_repeat.invalid}" name="new_password_repeat" id="new_password_repeat-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  </div>
                  <p *ngIf="f3.submitted && new_password_repeat.invalid" class="mt-2 text-sm text-red-600" id="new_password_repeat_error">{{ 'REQUIRED_FIELD' | translate }}</p>
                </div>
              </div>

              <!-- Password Visibility Toggle -->
              <div class="flex items-center mt-4">
                <input id="show_passwords" type="checkbox" [(ngModel)]="showPasswords" name="show_passwords" class="h-4 w-4 text-indigo-600 border-gray-300 rounded">
                <label for="show_passwords" class="ml-2 block text-sm text-gray-900">{{ 'SHOW_PASSWORDS' | translate }}</label>
              </div>

              <!-- New Password Validation List -->
              <div class="mt-6">
                <div *ngIf="hasErrors()">
                  <ul>
                    <li [ngClass]="{'text-green-500': !passwordErrors.tooShort, 'text-red-500': passwordErrors.tooShort}">{{ 'PASSWORT_MINDESTENS_ACHT_BUCHSTABEN' | translate }}</li>
                    <li [ngClass]="{'text-green-500': !passwordErrors.noCapitalLetter, 'text-red-500': passwordErrors.noCapitalLetter}">{{ 'PASSWORT_GROSSBUCHSTABE' | translate }}</li>
                    <li [ngClass]="{'text-green-500': !passwordErrors.noNumber, 'text-red-500': passwordErrors.noNumber}">{{ 'PASSWORT_ZAHL' | translate }}</li>
                    <li [ngClass]="{'text-green-500': !passwordErrors.noSpecialChar, 'text-red-500': passwordErrors.noSpecialChar}">{{ 'PASSWORT_SONDERZEICHEN' | translate }}</li>
                    <li [ngClass]="{'text-green-500': !passwordErrors.mismatch, 'text-red-500': passwordErrors.mismatch}">{{ 'PASSWOERTER_STIMMEN_NICHT_UEBEREIN' | translate }}</li>
                  </ul>
                </div>
              </div>

              <div class="mt-6 flex items-center justify-end gap-x-6">
                <app-button
                  [submittingRequest]="submittingRequest"
                  [isDisabled]="hasErrors() || !newPassword || submittingRequest || newPassword.repeatNewPassword.length === 0">
                  {{ 'MANAGE_TENANT_SETTINGS.SUBMIT_BUTTON' | translate }}
                </app-button>
              </div>
            </div>
          </div>
        </form>
          </div>
        </div>

                <div class="flex-1">
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <form #f4="ngForm" novalidate (ngSubmit)="f4.form.valid && editPersonalInformation()">
              <div class="space-y-12">
                <div class="pb-12">
                  <h2 class="text-base font-semibold leading-7 text-gray-900">{{ 'KONTO_AUFLOESEN' | translate }}</h2>

                  <p class=" pb-1 text-sm leading-6 text-gray-600" [innerHTML]="'KONTO_AUFLOESEN_DETAILS' | translate"></p>
                  <p class=" pb-1 text-sm leading-6 text-gray-600" [innerHTML]="'IM_FOLGENDEN__KOENNEN_SIE_IHR_KONTO_AUFLOESEN' | translate"></p>
                  <p class=" pb-4 text-sm leading-6 text-gray-600" [innerHTML]="'GELD_AUSZAHLEN_KONTO_SCHLIESSEN' | translate"></p>
                  <app-button (click)="closeAccount()"
                              [buttonType]="'button'"
                              [submittingRequest]="submittingRequestDeletion"
                              [typeButton]="'danger'">
                    {{ 'KONTO_AUFLOESEN' | translate }}
                  </app-button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<app-loading-page [pageLoaded]="!submittingRequest"></app-loading-page>
<app-loading-page [pageLoaded]="pageLoaded"></app-loading-page>
