<div class="overflow-hidden x-4 text-left p-3">
  <div>
    <div class="mt-2">
      <h3 class="text-base font-semibold leading-6 text-gray-900">{{data.header}}</h3>
      <p class="text-sm text-gray-500 mt-3">{{data.message}}</p>
    </div>
  </div>

  <!-- Radio buttons for file type selection -->
  <div class="mt-3 flex items-center space-x-4 px-2">
    <label class="block text-sm font-medium leading-6 text-gray-900">{{ 'ART_DOWNLOAD' | translate }}</label>
    <div class="flex items-center">
      <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
             type="radio"
             id="pdf"
             name="typeDownload"
             value="pdf"
             [(ngModel)]="typeDownload">
      <label for="pdf" class="ml-2 text-sm font-medium leading-6 text-gray-900">PDF</label>
    </div>
    <div class="flex items-center">
      <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
             type="radio"
             id="csv"
             name="typeDownload"
             value="csv"
             [(ngModel)]="typeDownload">
      <label for="csv" class="ml-2 text-sm font-medium leading-6 text-gray-900">CSV</label>
    </div>
  </div>

  <!-- Container for input fields -->
  <div class="mt-3 flex flex-col md:flex-row md:space-x-4">
    <!-- First input field with label -->
    <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
      <label class="block text-sm font-medium leading-6 text-gray-900" for="firstDate">{{ 'ACCOUNTDETAILS.RANGE_FROM' | translate }}</label>
      <input [(ngModel)]="firstDate"
             (change)="onDateChange($event, 'firstDate')"
             class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
             id="firstDate"
             name="firstDate"
             type="date"
             placeholder="{{ 'ACCOUNTDETAILS.FIRST_FIELD' | translate }}">
    </div>
    <!-- Second input field with label -->
    <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
      <label class="block text-sm font-medium leading-6 text-gray-900" for="selectedDate">{{ 'ACCOUNTDETAILS.RANGE_TO' | translate }}</label>
      <input [(ngModel)]="secondDate"
             (change)="onDateChange($event, 'secondDate')"
             class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
             id="selectedDate"
             name="selectedDate"
             type="date"
             required>
    </div>
  </div>

  <div class="flex flex-col space-y-2 px-2 mt-3">
    <div>
      <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" name="checkbox1" type="checkbox" id="checkbox1" [(ngModel)]="depositsOrOrder">
      <label for="checkbox1" class="ml-2 text-sm font-medium leading-6 text-gray-900">
        <span *ngIf="data.isAccount">{{ 'ACCOUNTDETAILS.DEPOSITS' | translate }}</span>
        <span *ngIf="!data.isAccount">{{ 'ACCOUNTDETAILS.ORDERS' | translate }}</span>
      </label>
    </div>
    <div>
      <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" name="checkbox2" type="checkbox" id="checkbox2" [(ngModel)]="withdrawOrCancel">
      <label for="checkbox2" class="ml-2 text-sm font-medium leading-6 text-gray-900">
        <span *ngIf="data.isAccount">{{ 'ACCOUNTDETAILS.WITHDRAWALS' | translate }}</span>
        <span *ngIf="!data.isAccount">{{ 'ACCOUNTDETAILS.CANCELLATIONS' | translate }}</span>
      </label>
    </div>
  </div>

  <div class="flex justify-end mt-3">
    <app-button [typeButton]="'primary'" mat-dialog-close cdkFocusInitial>{{ 'ACCOUNTDETAILS.CLOSE' | translate }}</app-button>
    <app-button [typeButton]="'primary'"
                [mat-dialog-close]="{secondDate:secondDate, firstDate:firstDate, withdrawOrCancel:withdrawOrCancel, depositsOrOrder:depositsOrOrder, typeDownload:typeDownload}"
                cdkFocusInitial>{{ 'ACCOUNTDETAILS.EXPORT' | translate }}</app-button>
  </div>
</div>
