<ng-container *ngIf="pageLoaded">
    <div class="container mx-auto px-4 mt-8">
        <div class="flex justify-center">
            <div class="w-full xs-full sm:w-full md:w-11/12">
                <div [class.flipped]="isFlipped" class="relative perspective">
                    <div class="card-face front">
                        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 remove-class-xs-sm">
                            <div class="px-4 sm:px-6 lg:px-8">
                                <div class="flex flex-wrap">
                                    <div class="sm:flex-auto">
                                        <h1 class="text-base font-semibold leading-6 text-gray-900">
                                            {{ 'MANAGE_PERMANENT_ORDERS.HEADER' | translate }}</h1>
                                        <p class="mt-2 text-sm text-gray-700">{{ 'MANAGE_PERMANENT_ORDERS.SUBHEADER' | translate }}</p>
                                    </div>
                                </div>
                                <div class="mt-8 flow-root">
                                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                                            <table class="min-w-full divide-y divide-gray-300">
                                                <thead>
                                                <tr>
                                                    <th class="table-cell-padding-medium text-left text-sm font-semibold text-gray-900 sm:pl-0"
                                                        scope="col">
                                                        {{ 'MANAGE_PERMANENT_ORDERS.NAME' | translate }}
                                                    </th>
                                                    <th class="table-cell-padding-medium text-left text-sm font-semibold text-gray-900"
                                                        scope="col">
                                                        {{ 'MANAGE_PERMANENT_ORDERS.ACTIVE' | translate }}
                                                    </th>
                                                    <th class="relative table-cell-padding-medium text-right text-sm font-medium sm:pr-0"
                                                        scope="col">
                                                        <span class="sr-only">{{ 'MANAGE_PERMANENT_ORDERS.EDIT' | translate }}</span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="divide-y divide-gray-200">
                                                <tr *ngFor="let student of registeredStudents">
                                                    <td class="table-cell-padding-medium whitespace-nowrap text-sm font-medium text-gray-900 sm:pl-0">
                                                        <span class="xs:hidden sm:hidden"> {{student.firstName}}</span>
                                                        <span class="hidden xs:inline sm:inline"> {{student.lastName + ' ' + student.firstName }}</span>
                                                    </td>
                                                    <td class="table-cell-padding-medium relative text-sm text-gray-500">
                                                        {{hasDauerbestellung(student) ? ( 'MANAGE_PERMANENT_ORDERS.YES' | translate ) : ( 'MANAGE_PERMANENT_ORDERS.NO' | translate )}}
                                                    </td>
                                                    <td class="relative whitespace-nowrap table-cell-padding-medium text-right text-sm font-medium sm:pr-0">
                                                        <div class="align-right">
                                                            <app-button (click)="selectStudent(student)" [buttonType]="'button'"
                                                                        [submittingRequest]="submittingRequest"
                                                            >{{ 'MANAGE_PERMANENT_ORDERS.EDIT_BUTTON' | translate }}
                                                            </app-button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="registeredStudents.length === 0" colspan="100%">
                                                        <app-general-banner></app-general-banner>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedPermanentOrder && selectedStudent" class="card-face back">
                        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 remove-class-xs-sm">
                            <div class="flex-1">
                                <form #f1="ngForm"
                                      (ngSubmit)="f1.form.valid && editOrAddPermanentOrders(selectedPermanentOrder)"
                                      novalidate>
                                    <div class="space-y-12">
                                        <div class="border-b border-gray-900/10 pb-12">
                                            <h2 class="text-base font-semibold leading-7 text-gray-900">{{ 'MANAGE_PERMANENT_ORDERS.EDIT_HEADER' | translate }} {{selectedStudent.firstName}} {{selectedStudent.lastName}}</h2>
                                            <p class="mt-1 text-sm leading-6 text-gray-600">
                                                <span *ngIf="permanentOrderExists">
                                                  {{ 'MANAGE_PERMANENT_ORDERS.EXISTING_ORDER' | translate }}
                                                </span>
                                                <span *ngIf="!permanentOrderExists">
                                                  {{ 'MANAGE_PERMANENT_ORDERS.NEW_ORDER' | translate }}
                                                </span>
                                            </p>
                                            <fieldset class="mt-4">
                                                <legend class="sr-only">Notifications</legend>
                                                <div *ngFor="let day of selectedPermanentOrder.daysOrder; let index = index"
                                                     class="space-y-5 mb-2">
                                                    <div class="flex items-center">
                                                        <div class="lg:w-1/5 md:w-1/3 sm:w-1/2 w-full ">
                                                            <input (ngModelChange)="setLinePermanentOrder($event, index)"
                                                                   [(ngModel)]="selectedPermanentOrder.daysOrder[index].selected"
                                                                   [name]="'permanent_order' + index"
                                                                   aria-describedby="Dauerbestellung Tag"
                                                                   class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                                                                   id="{{'comments' + index}}"
                                                                   type="checkbox">
                                                            <label class="ml-2 text-sm font-medium text-gray-900"
                                                                   for="{{'comments' + index}}">{{ dayArray[index] }}</label>
                                                        </div>
                                                        <div class="lg:w-2/5 md:w-1/2 sm:w-1/2 w-full ">
                                                            <select #subgroupModel="ngModel"
                                                                    (ngModelChange)="setPermanentOrderType($event,index)"
                                                                    [(ngModel)]="selectedPermanentOrder.daysOrder[index].menuId"
                                                                    [disabled]="!selectedPermanentOrder.daysOrder[index].selected"
                                                                    class="block w-full rounded-md border-gray-300 py-1.5 pl-3 pr-10 text-gray-900 focus:ring-indigo-600 focus:border-indigo-600 sm:text-sm"
                                                                    id="subgroup{{index}}"
                                                                    name="subgroupModel{{index}}"
                                                                    required>
                                                                <option [value]="" disabled hidden>{{ 'MANAGE_PERMANENT_ORDERS.SELECT_OPTION' | translate }}</option>
                                                                <option *ngFor="let menu of menuSelection"
                                                                        [ngValue]="menu.menuId">
                                                                    {{ menu.nameMenu}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="flex mt-2 space-x-2">
                                                <app-button *ngIf="!permanentOrderExists"
                                                            [submittingRequest]="submittingRequest">{{ 'MANAGE_PERMANENT_ORDERS.ADD_ORDER' | translate }}
                                                </app-button>
                                                <app-button (click)="back()"
                                                            [buttonType]="'button'" [submittingRequest]="submittingRequest">
                                                    {{ 'MANAGE_PERMANENT_ORDERS.BACK_BUTTON' | translate }}
                                                </app-button>
                                                <app-button *ngIf="permanentOrderExists"
                                                            [submittingRequest]="submittingRequest" [typeButton]="'warning'">{{ 'MANAGE_PERMANENT_ORDERS.CHANGE_ORDER' | translate }}
                                                </app-button>
                                                <app-button (click)="deletePermanentOrder(selectedPermanentOrder)"
                                                            *ngIf="permanentOrderExists"
                                                            [buttonType]="'button'" [submittingRequest]="submittingRequest"
                                                            [typeButton]="'danger'">
                                                    {{ 'MANAGE_PERMANENT_ORDERS.DELETE_ORDER' | translate }}
                                                </app-button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
