<div class="overflow-hidden x-4 text-left p-3">
  <div class="flex items-center">
    <svg class="h-5 w-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
    </svg>
<!--    <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" *ngIf="data.typeMessage === 'info'">-->
<!--      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />-->
<!--    </svg>-->
<!--  -->
    <h3 class="text-base font-semibold leading-6 text-gray-900 ml-2">Gebühren</h3>
  </div>
  <div class="mt-2">
    <p class="text-sm text-gray-500 mt-3">
      Für den Einzahlungsbetrag von <b><u>{{data.amount | currency: 'EUR'}}</u></b> würden Sie folgenden Auszahlungbetrag erhalten abhängig von Ihrer Zahlungsauswahl: <br>

    <div *ngIf="data.amount && data.amount > 0" class="mt-2">
      <p *ngFor="let eachPayment of paymentFeeArray" class="text-sm text-gray-700">
        <b>{{eachPayment.namePayment}}:</b> {{ eachPayment.amountFee | currency:'EUR' }}</p>
    </div>
  </div>
  <div class="flex justify-end mt-3">
    <app-button [typeButton]="'default'" [mat-dialog-close]="false" cdkFocusInitial>{{"CLOSE" | translate}}</app-button>
    <app-button [typeButton]="'primary'" [mat-dialog-close]="true" cdkFocusInitial>{{"CLOSE" | translate}}</app-button>
  </div>
</div>
