<ng-container *ngIf="pageLoaded">
  <main>
    <ng-container *ngFor="let eachMessage of allMessages let index = index">
      <app-message-info-box [eachMessage]="eachMessage" (closeMessage)="closeInfo($event)"></app-message-info-box>
    </ng-container>

    <div class="mx-auto px-4 sm:py-0 sm:py-1 md:py-16 sm:px-6 lg:px-8 md:w-11/12 lg:w-11/12">
      <div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <!-- Invoice summary -->
        <div class="lg:col-start-3 lg:row-end-1 order-last">
          <h2 class="sr-only">{{ 'FIRSTPAGE.SUMMARY' | translate }}</h2>
          <div class="rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/5">
            <dl class="flex flex-wrap">
              <div class="flex-auto pl-6 pt-6 pb-3">
                <dt class="text-sm font-semibold leading-6 text-gray-900">{{ 'FIRSTPAGE.USERNAME' | translate }}: {{tenant.username}}</dt>
                <dt class="text-sm text-base font-semibold leading-6 text-gray-900">Angemeldete Verpflegungsteilnehmer</dt>
              </div>
              <div class="mt-6 mb-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-6" *ngFor="let student of students">
                <dt class="flex-none">
                  <span class="sr-only">{{ 'FIRSTPAGE.STUDENT' | translate }}</span>
                  <svg class="h-6 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z" clip-rule="evenodd" />
                  </svg>
                </dt>
                <dd class="text-sm font-medium leading-6 text-gray-900">{{student.firstName + ' ' + student.lastName}}</dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Invoice -->
        <div class="-mx-4 px-4 py-8 shadow-sm ring-1 ring-gray-900/5 sm:mx-0 sm:rounded-lg sm:px-8 sm:pb-14 lg:col-span-2 lg:row-span-2 lg:row-end-2 xl:px-16 xl:pb-20 xl:pt-16 sm:h-128 md:h-384 sm:overflow-y-auto order-first">
          <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <button
              (click)="routeToAccount('order_student')"
              class="mb-4 sm:mb-0 sm:order-2 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              {{ 'FIRSTPAGE.PLACE_ORDER' | translate }}
            </button>
            <div class="sm:flex sm:flex-col">
              <h1 class="text-base font-semibold leading-6 text-gray-900">{{ 'FIRSTPAGE.PLACED_ORDERS' | translate }}</h1>
              <p class="mt-2 text-sm text-gray-700">{{ 'ORDER.CURRENT_BALANCE' | translate }}: {{accountTenant.currentBalance | currency:'€'}}</p>
            </div>

          </div>

          <div class="w-full mt-4 md:mt-16">
            <div class="xs:overflow-y-auto xs:h-screen" style="height: auto;">
              <table class="w-full text-left text-sm leading-6">
                <thead class="border-b border-gray-200 text-gray-900">
                <tr>
                  <th scope="col" class="px-0 py-2 font-semibold w-32" style="font-size: smaller;">{{ 'FIRSTPAGE.DATE' | translate }}</th>
                  <th scope="col" class=" py-2 pl-8 pr-0 text-right font-semibold w-32" style="font-size: smaller;">{{ 'FIRSTPAGE.MENU' | translate }}</th>
                  <th scope="col" class="hidden py-2 pl-8 pr-0 text-right font-semibold sm:table-cell w-64" style="font-size: smaller;">{{ 'FIRSTPAGE.STUDENT' | translate }}</th>
                  <th scope="col" class="hidden py-2 pl-8 pr-0 text-right font-semibold sm:table-cell w-64" style="font-size: smaller;">{{ 'FIRSTPAGE.COST' | translate }}</th>
                  <th scope="col" class="py-2 pl-8 pr-0 text-right font-semibold w-32" style="font-size: smaller;">{{ 'FIRSTPAGE.CANCEL' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b border-gray-100" *ngFor="let order of ordersStudentsDisplay">
                  <td class="max-w-0 px-0 py-4 align-top" style="white-space: normal;">{{order.dateOrder | date:'dd.MM.yyyy'}}</td>
                  <td class="overflow-x-auto whitespace-normal py-4 pl-8 pr-0 text-right align-top tabular-nums text-gray-700 " style="word-wrap: break-word; max-width: 150px;">{{order.orderedMenus}}</td>
                  <td class="hidden py-4 pl-8 pr-0 text-right align-top tabular-nums text-gray-700 sm:table-cell">{{order.nameStudent}}</td>
                  <td class="py-4 pl-8 pr-0 text-right align-top tabular-nums text-gray-700 sm:table-cell hidden">{{order.price | currency:'€'}}</td>
                  <td class="py-4 pl-8 pr-0 text-right align-top tabular-nums text-gray-700">
                    <button
                      [ngClass]="order.cancelPossible > 0 ? 'bg-red-300 hover:bg-red-500' : 'bg-gray-400'"
                      [disabled]="order.cancelPossible <= 0"
                      [matTooltip]="order.cancelPossible > 0 ? '' : 'FIRSTPAGE.TOOLTIP_EXPIRED | translate }}'"
                      (click)="cancelOrder(order)"
                      class="rounded-md px-2 py-1 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                      {{ 'FIRSTPAGE.CANCEL' | translate }}
                    </button>
                  </td>
                </tr>
                <tr *ngIf="ordersStudentsDisplay.length === 0">
                  <td colspan="100%" style="white-space: normal;">
                    <app-general-banner></app-general-banner>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>
<app-loading-page [pageLoaded]="pageLoaded"></app-loading-page>
<app-loading-page [pageLoaded]="!submittingRequest"></app-loading-page>

