<ng-container *ngIf="tenantModel && pageLoaded">
  <div class="container mx-auto md:px-4 xs:px-0 mt-8 md:w-11/12">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full md:w-1/2 flex flex-col gap-4">
        <div class="flex-1">
          <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
            <form #f3="ngForm" novalidate (ngSubmit)="f3.form.valid && changePassword()">
              <div class="space-y-12">
                <div class="pb-12">
                  <h2 class="text-base font-semibold leading-7 text-gray-900">{{ 'PASSWORT_AENDERN' | translate }}</h2>
                  <p class="pb-1 text-sm leading-6 text-gray-600" [innerHTML]="'PASSWORT_AENDERN_DETAILS' | translate"></p>
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                      <label for="old_password" class="block text-sm font-medium leading-6 text-gray-900">{{ 'ALTES_PASSWORT' | translate }}</label>
                      <div class="mt-2">
                        <input [type]="showPasswords ? 'text' : 'password'" required #old_password="ngModel" [(ngModel)]="newPassword.oldPassword" name="old_password" id="old_password" [ngClass]="{'invalid-input': f3.submitted && old_password.invalid}" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                      <p *ngIf="f3.submitted && old_password.invalid" class="mt-2 text-sm text-red-600" id="old_password_error">{{ 'REQUIRED_FIELD' | translate }}</p>
                    </div>
                    <div class="sm:col-span-3">
                      <label for="new_password" class="block text-sm font-medium leading-6 text-gray-900">{{ 'NEUES_PASSWORT' | translate }}</label>
                      <div class="mt-2">
                        <input [type]="showPasswords ? 'text' : 'password'" required (keyup)="validatePassword()" #new_password="ngModel" [(ngModel)]="newPassword.newPassword" [ngClass]="{'invalid-input': f3.submitted && new_password.invalid}" name="new_password" id="new_password" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                      <p *ngIf="f3.submitted && new_password.invalid" class="mt-2 text-sm text-red-600" id="new_password_error">{{ 'REQUIRED_FIELD' | translate }}</p>
                    </div>
                    <div class="sm:col-span-3">
                      <label for="new_password_repeat-name" class="block text-sm font-medium leading-6 text-gray-900">{{ 'NEUES_PASSWORT_WIEDERHOLEN' | translate }}</label>
                      <div class="mt-2">
                        <input [type]="showPasswords ? 'text' : 'password'" required (keyup)="validatePassword()" #new_password_repeat="ngModel" [(ngModel)]="newPassword.repeatNewPassword" [ngClass]="{'invalid-input': f3.submitted && new_password_repeat.invalid}" name="new_password_repeat" id="new_password_repeat-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                      <p *ngIf="f3.submitted && new_password_repeat.invalid" class="mt-2 text-sm text-red-600" id="new_password_repeat_error">{{ 'REQUIRED_FIELD' | translate }}</p>
                    </div>
                  </div>

                  <!-- Password Visibility Toggle -->
                  <div class="flex items-center mt-4">
                    <input id="show_passwords" type="checkbox" [(ngModel)]="showPasswords" name="show_passwords" class="h-4 w-4 text-indigo-600 border-gray-300 rounded">
                    <label for="show_passwords" class="ml-2 block text-sm text-gray-900">{{ 'SHOW_PASSWORDS' | translate }}</label>
                  </div>

                  <!-- New Password Validation List -->
                  <div class="mt-6">
                    <div *ngIf="hasErrors()">
                      <ul>
                        <li [ngClass]="{'text-green-500': !passwordErrors.tooShort, 'text-red-500': passwordErrors.tooShort}">{{ 'PASSWORT_MINDESTENS_ACHT_BUCHSTABEN' | translate }}</li>
                        <li [ngClass]="{'text-green-500': !passwordErrors.noCapitalLetter, 'text-red-500': passwordErrors.noCapitalLetter}">{{ 'PASSWORT_GROSSBUCHSTABE' | translate }}</li>
                        <li [ngClass]="{'text-green-500': !passwordErrors.noNumber, 'text-red-500': passwordErrors.noNumber}">{{ 'PASSWORT_ZAHL' | translate }}</li>
                        <li [ngClass]="{'text-green-500': !passwordErrors.noSpecialChar, 'text-red-500': passwordErrors.noSpecialChar}">{{ 'PASSWORT_SONDERZEICHEN' | translate }}</li>
                        <li [ngClass]="{'text-green-500': !passwordErrors.mismatch, 'text-red-500': passwordErrors.mismatch}">{{ 'PASSWOERTER_STIMMEN_NICHT_UEBEREIN' | translate }}</li>
                      </ul>
                    </div>
                  </div>

                  <div class="mt-6 flex items-center justify-end gap-x-6">
                    <app-button
                      [submittingRequest]="submittingRequest"
                      [disabled]="hasErrors() || !newPassword || submittingRequest || newPassword.repeatNewPassword.length === 0">
                      {{ 'MANAGE_TENANT_SETTINGS.SUBMIT_BUTTON' | translate }}
                    </app-button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<app-loading-page [pageLoaded]="!submittingRequest"></app-loading-page>
<app-loading-page [pageLoaded]="pageLoaded"></app-loading-page>
