<div class="container mx-auto px-4 mt-8">
    <div class="flex justify-center">
        <div class="w-full max-w-2xl">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <form #f1="ngForm" novalidate (ngSubmit)="f1.form.valid && setPersonalInformation()">
                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Informationen</h2>
                            <p class="mt-1 text-sm leading-6 text-gray-600">Bitte füllen Sie das Formular aus um fortzufahren</p>
                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                <div class="sm:col-span-3">
                                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Vorname</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #firstName="ngModel"
                                               [(ngModel)]="tenantModel.firstName"
                                               name="first-name"
                                               id="first-name"
                                               [class.text-red-900]="f1.submitted && firstName.invalid"
                                               [class.ring-red-300]="f1.submitted && firstName.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && firstName.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && firstName.invalid"
                                               autocomplete="given-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && firstName.invalid " class="mt-2 text-sm text-red-600" id="firstName-error">Pflichtfeld</p>
                                </div>
                                <div class="sm:col-span-3">
                                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Nachname</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #lastName="ngModel"
                                               [(ngModel)]="tenantModel.lastName"
                                               [class.text-red-900]="f1.submitted && lastName.invalid"
                                               [class.ring-red-300]="f1.submitted && lastName.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && lastName.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && lastName.invalid"
                                               name="last-name"
                                               id="last-name"
                                               autocomplete="family-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && lastName.invalid " class="mt-2 text-sm text-red-600" id="lastName-error">Pflichtfeld</p>

                                </div>
                                <div class="sm:col-span-3">
                                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #email="ngModel"
                                               [(ngModel)]="tenantModel.email"
                                               [class.text-red-900]="f1.submitted && email.invalid"
                                               [class.ring-red-300]="f1.submitted && email.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && email.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && email.invalid"
                                               name="email"
                                               id="email"
                                               autocomplete="family-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && email.invalid " class="mt-2 text-sm text-red-600" id="email-error">Pflichtfeld</p>


                                </div>
                                <div class="sm:col-span-3">
                                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Telefonnummer</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #phone="ngModel"
                                               [(ngModel)]="tenantModel.phone"
                                               [class.text-red-900]="f1.submitted && phone.invalid"
                                               [class.ring-red-300]="f1.submitted && phone.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && phone.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && phone.invalid"
                                               name="phone"
                                               id="phone"
                                               autocomplete="family-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && phone.invalid " class="mt-2 text-sm text-red-600" id="phone-error">Pflichtfeld</p>
                                </div>
                                <div class="col-span-full">
                                    <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Adresse mit Hausnummer</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #address="ngModel"
                                               [(ngModel)]="tenantModel.address"
                                               [class.text-red-900]="f1.submitted && address.invalid"
                                               [class.ring-red-300]="f1.submitted && address.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && address.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && address.invalid"
                                               name="address"
                                               id="address"
                                               autocomplete="family-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && address.invalid " class="mt-2 text-sm text-red-600" id="address-error">Pflichtfeld</p>
                                </div>
                                <div class="sm:col-span-3 sm:col-start-1">
                                    <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Stadt</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #city="ngModel"
                                               [(ngModel)]="tenantModel.city"
                                               [class.text-red-900]="f1.submitted && city.invalid"
                                               [class.ring-red-300]="f1.submitted && city.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && city.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && city.invalid"
                                               name="city"
                                               id="city"
                                               autocomplete="family-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && city.invalid " class="mt-2 text-sm text-red-600" id="city-error">Pflichtfeld</p>
                                </div>
                                <div class="sm:col-span-3">
                                    <label for="zip" class="block text-sm font-medium leading-6 text-gray-900">Postleitzahl</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               required
                                               #zip="ngModel"
                                               [(ngModel)]="tenantModel.zip"
                                               [class.text-red-900]="f1.submitted && zip.invalid"
                                               [class.ring-red-300]="f1.submitted && zip.invalid"
                                               [class.placeholder:text-red-300]="f1.submitted && zip.invalid"
                                               [class.focus:ring-red-500]="f1.submitted && zip.invalid"
                                               name="zip"
                                               id="zip"
                                               autocomplete="family-name"
                                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    </div>
                                    <p *ngIf="f1.submitted && zip.invalid " class="mt-2 text-sm text-red-600" id="zip-error">Pflichtfeld</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button type="submit"
                                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



