<ng-container *ngIf="pageLoaded">
  <div class="container mx-auto px-4 mt-8">
    <div class="flex justify-center">
      <div class="w-full xs-full sm:w-full md:w-11/12">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 remove-class-xs-sm">
          <div class="lg:px-8">
            <div class="sm:flex sm:items-center">
              <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">{{ 'WEEKPLAN_PDF.TITLE' | translate }}</h1>
                <p class="mt-2 text-sm text-gray-700">{{ 'WEEKPLAN_PDF.DESCRIPTION' | translate }}</p>
              </div>
            </div>
            <div class="mt-8 flow-root">
              <div class="flow-root">
                <!-- Flex container for both fields with default column layout, switching to row layout at md breakpoint -->
                <div class="flex flex-col md:flex-row gap-4">
                  <!-- Added gap-4 for spacing between items on md screens -->

                  <!-- Container for the Year select field -->
                  <div class="flex-1 flex flex-col">
                    <label class="text-sm font-medium text-gray-900" for="year">{{ 'WEEKPLAN_PDF.YEAR' | translate }}</label>
                    <select (ngModelChange)="getWeekplanCalenderYear($event)" [(ngModel)]="queryYear"
                            class="mt-1 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm"
                            id="year"
                            name="year">
                      <option *ngFor="let year of queryYears; let i = index"
                              [ngValue]="year.year">{{year.year}}</option>
                    </select>
                  </div>

                  <!-- Container for the Calendar Week select field -->
                  <div class="flex-1 flex flex-col">
                    <label class="text-sm font-medium text-gray-900" for="calenderweek">{{ 'WEEKPLAN_PDF.CALENDAR_WEEK' | translate }}</label>
                    <select #subgroupModel="ngModel" (ngModelChange)="getWeekplanCalenderWeek($event,queryYear)"
                            [(ngModel)]="queryWeek"
                            class="mt-1 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm"
                            id="calenderweek"
                            name="calenderweek"
                            required>
                      <option *ngFor="let query of queryCalenderWeek" [ngValue]="query.week">{{query.value}}</option>
                    </select>
                  </div>

                </div>
              </div>


              <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-3">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                    <tr>
                      <th class="hidden sm:table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                          scope="col">
                        {{ 'WEEKPLAN_PDF.WEEKPLAN' | translate }}
                      </th>
                      <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">{{ 'WEEKPLAN_PDF.CALENDAR_WEEK' | translate }}</th>
                      <th class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 text-right"
                          scope="col"></th>

                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                    <tr
                      *ngFor="let eachWeekplan of allWeekplans |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <td
                        class="hidden sm:table-cell whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{eachWeekplan.name}}</td>

                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{eachWeekplan.calenderWeek}}</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-right flex justify-end">
                        <app-button (click)="displayPdf(eachWeekplan)"
                                    [submittingRequest]="submittingRequest" *ngIf="!isApp">
                          {{ 'WEEKPLAN_PDF.VIEW' | translate }}
                        </app-button>
                        <app-button (click)="downloadPdf(eachWeekplan)" [submittingRequest]="submittingRequest">
                          {{ 'WEEKPLAN_PDF.DOWNLOAD' | translate }}
                        </app-button>
                      </td>
                    </tr>
                    <tr *ngIf="allWeekplans.length == 0">
                      <td colspan="100%">
                        <app-general-banner></app-general-banner>
                      </td>
                    </tr>
                    <!-- More people... -->
                    </tbody>
                  </table>
                  <div class="flex flex-col md:flex-row" style="border-top: 1px solid lightgray"></div>
                  <div class="flex flex-col md:flex-row mt-3">
                    <div class="md:w-3/3 w-full">
                      <div class="flex justify-start md:justify-end">
                        <ngb-pagination
                          [(page)]="page"
                          [boundaryLinks]="false"
                          [collectionSize]="allWeekplans.length"
                          [maxSize]="3"
                          [pageSize]="pageSize"
                          [rotate]="true"
                          [ellipses]="true"
                          [directionLinks]="true"></ngb-pagination>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
<app-loading-page [pageLoaded]="pageLoaded"></app-loading-page>
