<div class="flex min-h-full flex-col justify-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- <img class="mx-auto w-34 h-32" src="assets/splash.png" alt="Cateringexpert"> -->
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ 'RESET_PASSWORD_TITLE' | translate }}</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
      <div class="rounded-md bg-red-50 p-4" *ngIf="serverErrorMessages">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Optionally add an icon here -->
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium">{{ 'ERROR_TITLE' | translate }}</h3>
            <div class="mt-2 text-sm">
              <p>{{ serverErrorMessages }} <br>
                {{ 'ERROR_MESSAGE_DESCRIPTION' | translate }}</p> <br>
            </div>
          </div>
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">{{ 'EMAIL_LABEL' | translate }}</label>
        <div class="mt-2">
          <input id="email"
                 name="email"
                 type="email"
                 autocomplete="email"
                 #emailModel="ngModel"
                 [(ngModel)]="username"
                 [class.text-red-900]="signInForm.submitted && emailModel.invalid"
                 [class.ring-red-300]="signInForm.submitted && emailModel.invalid"
                 [class.placeholder:text-red-300]="signInForm.submitted && emailModel.invalid"
                 [class.focus:ring-red-500]="signInForm.submitted && emailModel.invalid"
                 required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <p *ngIf="signInForm.submitted && emailModel.invalid" class="mt-2 text-sm text-red-600" id="email-error">{{ 'EMAIL_ERROR' | translate }}</p>
      </div>
      <div>
        <app-button [submittingRequest]="submittingRequest" [typeButton]="'primary'"
                    [additionalClass]="'flex w-full justify-center'">
          {{ 'REQUEST_NEW_PASSWORD_BUTTON' | translate }}
        </app-button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      {{ 'BACK_TO_LOGIN' | translate }}
      <a routerLink="/login" routerLinkActive="active" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">{{ 'HERE' | translate }}</a>
    </p>
  </div>
</div>
