.table-cell-padding-large {
    padding-top: 0.5rem !important;    /* 16px */
    padding-bottom: 0.5rem !important; /* 16px */
    padding-left: 0.75rem !important;  /* 20px */
    padding-right: 0.75rem !important; /* 20px */
  }