<ng-container *ngIf="pageLoaded && registeredStudents.length > 0">
  <div class="container mx-auto px-4 mt-8">
    <div class="flex justify-center">
      <div class="w-5/6">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h1 class="text-base font-semibold leading-6 text-gray-900">Zahlungsübersicht</h1>
              <p class="mt-2 text-sm text-gray-700">Um Geld auf Ihr Konto einzuzahlen überweisen Sie bitte den gewünschten Betrag auf das folgende Konto:
                <br><br>
                Cateringexpert Software Solutions GmbH <br>
                Deutsche Bank <br>
                IBAN: DE12345678901234567890  <fa-icon [icon]="faClipboard"
                                                       class="ml-1"
                                                       [matTooltip]="'In Ablage kopieren'"
                                                       (click)="copyToClipboard('DE12345678901234567890')"></fa-icon> <br>
                BIC: DEUTDEDBXXX <br>
                Verwendungszweck: <b>{{tenantStudent.username}}</b>
                <fa-icon [icon]="faClipboard"
                         class="ml-1"
                         [matTooltip]="'In Ablage kopieren'"
                         (click)="copyToClipboard(tenantStudent.username)"></fa-icon> <br><br>

                <b>Wichtig:</b>
                Geben Sie bitte unbedingt Ihren Benutzernamen: <b>{{tenantStudent.username}} </b> im Verwendungszweck an. Achten Sie darauf, dass Sie den Benutzernamen
                genau so in den Verwendungszweck eintragen, wie er registriert ist.
                Andernfalls kann Ihre Einzahlung nicht Ihrem Konto zugeordnet werden.
                Eine manuelle Überprüfung wäre in diesem Fall nur schriftlich möglich und könnte mehrere Werktage in Anspruch nehmen. <br><br>

                Vielen Dank.

              </p>


            </div>
          </div>
          <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Datum</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Art</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Betrag</th>
                  </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200">
                  <tr *ngFor="let payment of accountCharges" >
<!--                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{student.lastName + ' ' + student.firstName }}</td>-->
<!--                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{getSubGroupNameFromId(student.subgroup,customerInfo)}}</td>-->
<!--                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{student.username}}</td>-->
<!--                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">-->
<!--                      <a  class="text-indigo-600 hover:text-indigo-900 cursor-pointer" (click)="selectStudent(student)">Bearbeiten</a>-->
<!--                    </td>-->
                  </tr>
                  <tr>
                    <td colspan="100%">
                      <app-general-banner></app-general-banner>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
  <ng-container *ngIf="pageLoaded && registeredStudents.length === 0">
    <app-banner-no-student-order [text]="textBanner"></app-banner-no-student-order>
  </ng-container>
