<ng-container *ngIf="pageLoaded && registeredStudents.length > 0">
  <div class="container mx-auto px-4 mt-8">
    <div class="flex justify-center">
      <div class="w-full xs-full sm:w-full md:w-11/12">
        <div>
          <div class="sm:flex-auto">
            <!-- <h1 class="text-base font-semibold leading-6 text-gray-900 mb-3">{{ 'ACCOUNT.TITLE_DEPOSIT' | translate }}</h1> -->
            <div class="rounded-md bg-blue-50 p-4 whitespace-normal">
              <div class="flex flex-col items-start justify-center">
                <h3 class="text-sm font-medium m-3 mb-2">{{ 'ACCOUNT.TITLE_DEPOSIT_TRANSFER' | translate }}</h3>

                <div class="ml-3 flex-1 md:flex md:justify-between md:text-left">
                  <p class="mt-2 text-sm text-gray-700">
                    {{ 'ACCOUNT.DEPOSIT_INSTRUCTIONS' | translate }}
                    <br><br>
                    {{ 'ACCOUNT.COMPANY_NAME' | translate }} <br>
                    <b>Bank</b> {{ 'ACCOUNT.BANK_NAME' | translate }} <br>
                    <b>{{ 'ACCOUNT.IBAN' | translate }}:</b> DE30 5107 0021 0980 5797 01
                    <fa-icon (click)="copyToClipboard('DE30510700210980579701')"
                             [icon]="faClipboard"
                             [matTooltip]="'In Ablage kopieren'"
                             class="ml-1"></fa-icon>
                    <br>
                    <b>{{ 'ACCOUNT.BIC' | translate }}:</b> DEUTDEDBXXX <br>
                    <b>{{ 'ACCOUNT.PURPOSE' | translate }}:</b> {{tenantStudent.username}}
                    <fa-icon (click)="copyToClipboard(tenantStudent.username)"
                             [icon]="faClipboard"
                             [matTooltip]="'In Ablage kopieren'"
                             class="ml-1"></fa-icon>
                    <br><br>
                    <span [innerHTML]="'DEPOSIT_INSTRUCTIONS_NACHTRAG' | translate"></span>
                    <br><br>
                    <b>{{ 'ACCOUNT.IMPORTANT_NOTE' | translate }}:</b>
                    {{ 'ACCOUNT.USERNAME_NOTE' | translate }}:
                    <b>{{tenantStudent.username}} </b> {{ 'ACCOUNT.PURPOSE_INSTRUCTIONS' | translate }}

                  </p>
                </div>
                <br>
                <div class="ml-3 flex-1 md:flex md:justify-between md:text-left">
                  <p class=" text-sm text-gray-700" [innerHTML]="'MAXIMUM_AMOUNT_ACCOUNT_OVERVIEW_DESCRIPTION' | translate">
                    <br><br>
                    {{ 'ACCOUNT.THANK_YOU' | translate }}
                  </p>
                </div>

                <div class="mt-3 ml-3 flex-1 md:flex md:justify-between md:text-left">
                  <app-button (click)="goToLink()" [mr]="true" [submittingRequest]="submittingRequest"
                              [typeButton]="'primary'">{{ 'ACCOUNT.MOVEMENT_DETAILS' | translate }}</app-button>
                </div>
              </div>
            </div>
            <div class="rounded-md bg-yellow-100 p-4 mt-2">
              <div class="flex flex-col justify-between items-start">
                <h3 class="text-sm font-medium mb-2">{{ 'ACCOUNT.DIRECT_DEPOSIT' | translate }}</h3>
                <p [innerHTML]="'ACCOUNT.DIRECT_DEPOSIT_DESCRIPTION' | translate"
                   class="text-sm text-gray-700 mb-4"></p>
                <div class="w-full">
                  <!-- Hier fügen wir die Bilder hinzu -->
                  <div class="flex space-x-2 mt-1">
                    <div class="flex items-center justify-center h-12 w-12">
                      <img alt="Apple Pay" class="max-h-full max-w-full" src="/assets/payment-icons/apple-pay-icon.svg">
                    </div>
                    <div class="flex items-center justify-center h-12 w-12">
                      <img alt="Google Pay" class="max-h-full max-w-full"
                           src="/assets/payment-icons/google-pay-icon.svg">
                    </div>
                    <div class="flex items-center justify-center h-12 w-12">
                      <img alt="MasterCard" class="max-h-full max-w-full" src="/assets/payment-icons/master-logo.svg">
                    </div>
                    <div class="flex items-center justify-center h-12 w-12">
                      <img alt="Visa" class="max-h-full max-w-full" src="/assets/payment-icons/visa-logo.svg">
                    </div>
                    <div class="flex items-center justify-center h-12 w-12">
                      <img alt="American Express" class="max-h-full max-w-full"
                           src="/assets/payment-icons/amex-logo.svg">
                    </div>
                    <div class="flex items-center justify-center h-12 w-12">
                      <img alt="American Express" class="max-h-full max-w-full"
                           src="/assets/payment-icons/paypal-logo.svg">
                    </div>
<!--                    <div class="flex items-center justify-center h-12 w-12">-->
<!--                      <img alt="Giro Pay" class="max-h-full max-w-full" src="/assets/payment-icons/giropay.svg">-->
<!--                    </div>-->
                  </div>
                  <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && redirectToStripeCheckout(amountCharge)"
                        class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2 mt-4">
                    <div class="flex flex-col w-full sm:w-auto">
                      <input #amountChartModel="ngModel"
                             (input)="onAmountChange($event)"
                             [(ngModel)]="amountCharge"
                             [ngClass]="{'invalid-input': signInForm.submitted && amountChartModel.invalid}"
                             class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-2 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ring-red-300"
                             id="amountChartModel"
                             name="amountChartModel"
                             placeholder="{{ 'ACCOUNT.ENTER_AMOUNT' | translate }}"
                             required
                             type="number">
                    </div>
                    <p *ngIf="signInForm.submitted && amountChartModel.invalid" class="mt-2 text-sm text-red-600"
                       id="projectId-error">{{ 'ACCOUNT.MIN_DEPOSIT' | translate }}</p>
                    <div class="flex sm:justify-start items-center sm:items-end w-full">
                      <app-button [additionalClass]="'w-full '" [mr]="true" [submittingRequest]="submittingRequest"
                                  [typeButton]="'primary'">{{ 'ACCOUNT.DIRECT_DEPOSIT_BUTTON' | translate }}</app-button>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="amountCharge && amountCharge > 0" class="mt-2">
                <p class="text-sm text-gray-700" [innerHTML]="'ACCOUNT.FEES_NOTE' | translate">
                </p>
                <p *ngFor="let eachPayment of paymentFeeArray" class="text-sm text-gray-700">
                  <b>{{eachPayment.namePayment}}:</b> {{ eachPayment.amountFee | currency:'EUR' }}</p>
              </div>
            </div>

            <div class="rounded-md bg-green-100 p-4 mt-2">
              <div class="flex flex-col md:items-start">
                <h3 class="text-sm font-medium mb-2">{{ 'ACCOUNT.WITHDRAW' | translate }}</h3>
                <p [innerHTML]="'ACCOUNT.WITHDRAW_DETAILS' | translate" class="text-sm text-gray-700 mb-4"></p>
                <p class="text-sm text-gray-700 mb-4">{{ 'ACCOUNT.CURRENT_BALANCE' | translate }}:
                  <b>{{accountTenant.currentBalance | currency:'€'}}</b></p>
                <div class="flex justify-start w-full md:w-auto">
                  <app-button (click)="openDialog()" [mr]="true" [submittingRequest]="submittingRequest"
                              [typeButton]="'primary'">{{ 'ACCOUNT.WITHDRAW_BUTTON' | translate }}</app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="pageLoaded && registeredStudents.length === 0">
  <app-banner-no-student-order [text]="textBanner"></app-banner-no-student-order>
</ng-container>
<app-loading-page [pageLoaded]="pageLoaded"></app-loading-page>

