<div class="no-entries-alert rounded-md bg-blue-50 p-3">
  <div class="flex items-center justify-center">
    <svg class="text-blue-700 w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01m-6.938 4h13.856C18.118 18.168 20 15.21 20 12S18.118 5.832 15.938 4H8.062C5.882 5.832 4 8.79 4 12s1.882 6.168 4.062 8z"></path>
    </svg>
    <p class="text-sm text-blue-700">{{"NO_ENTRY_FOUND" | translate}}</p>
  </div>
</div>
