<div class="overflow-hidden x-4 text-left p-3">
  <div class="icon-wrapper">
    <button
      mat-dialog-close
      class=" p-2 rounded-full shadow-lg focus:outline-none inline-flex items-center justify-center h-8 w-8 ml-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>

    </button>
  </div>
  <div>
    <div class="mt-2">
      <h3 class="text-base font-semibold leading-6 text-gray-900">{{"ERKLAERUNG" | translate}}: {{ helpHeader }}</h3>
      <div class="text-sm text-gray-500 mt-1" *ngFor="let text of helpDescriptions">
        <span [innerHTML]="text"></span>
      </div>
    </div>
  </div>
  <div>
    <div class="mt-2">
      <p class="text-sm text-blue-500 underline mt-1">
        <a href="">{{"KLICK_HERE_FOR_MORE_HELP" | translate}}</a>
      </p>
    </div>
  </div>
  <!-- Container for input fields -->
  <div class="flex justify-end mt-3">
    <app-button [typeButton]="'primary'" mat-dialog-close cdkFocusInitial>{{"CLOSE" | translate}}</app-button>
  </div>
</div>
