<ng-container *ngIf="pageLoaded">
  <div class="container mx-auto px-4 mt-8">
    <div class="flex justify-center">
      <div class="w-full xs-full sm:w-full md:w-11/12">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 remove-class-xs-sm">
          <div class="lg:px-8">
            <!-- Button for sm and smaller screens -->
            <div class="block md:hidden w-full flex justify-end mb-2">
              <button
                (click)="goBack()"
                class="px-3 py-2 bg-blue-600 text-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                Zurück
              </button>
            </div>
            <div class="sm:flex sm:items-center justify-between">
              <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">{{ 'ACCOUNTDETAILS.TITLE' | translate }}</h1>
                <p class="mt-2 text-sm text-gray-700">{{ 'ACCOUNTDETAILS.DESCRIPTION' | translate }}</p>
              </div>
              <!-- Button container for md and larger screens -->
              <div class="hidden md:flex md:items-center md:space-x-2">
                <button
                  (click)="openDialogExport()"
                  class="mt-1 px-3 py-2 bg-blue-600 text-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  {{ 'ACCOUNTDETAILS.CSV_EXPORT' | translate }}
                </button>
                <button
                  (click)="goBack()"
                  class="mt-1 px-3 py-2 bg-blue-600 text-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  Zurück
                </button>
              </div>
            </div>
            <div class="mt-8 flow-root">
              <div class="flow-root">
                <!-- Container for input fields with half width -->
                <div class="flex flex-col space-y-2 sm:space-y-0 sm:space-x-4 mb-4">
                  <!-- Select input field -->
                  <select [(ngModel)]="queryYear"
                          class="mt-1 block px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm w-full">
                    <option [ngValue]="2024">2024</option>
                  </select>
                  <!-- Button for sm and smaller screens -->
                  <div class="block md:hidden w-full">
                    <button
                      (click)="openDialogExport()"
                      class="block w-full px-3 py-2 bg-blue-600 text-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      {{ 'ACCOUNTDETAILS.CSV_EXPORT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                  <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0" scope="col">
                      {{ 'ACCOUNTDETAILS.DATE' | translate }}
                    </th>
                    <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">{{ 'ACCOUNTDETAILS.TYPE' | translate }}</th>
                    <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">{{ 'ACCOUNTDETAILS.APPROVED' | translate }}</th>
                    <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">{{ 'ACCOUNTDETAILS.AMOUNT' | translate }}</th>
<!--                    <th class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900" scope="col">{{ 'ACCOUNTDETAILS.TRANSACTION_ID' | translate }}</th>-->
                  </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200">
                  <tr *ngFor="let payment of accountCharges  |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{payment.datePaymentReceived | date:'dd.MM.yyyy'}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                      <span *ngIf="payment.typeCharge === 'auszahlung'">{{ 'ACCOUNTDETAILS.DEPOSIT' | translate}}</span>
                      <span *ngIf="payment.typeCharge !== 'auszahlung'">{{ 'ACCOUNTDETAILS.WITHDRAW' | translate}}</span>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                      <span *ngIf="payment.dateApproved">{{payment.dateApproved | date:'dd.MM.yyyy'}}</span>
                      <span *ngIf="!payment.dateApproved">{{ 'NEIN' | translate}}</span>
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{payment.amount | currency:'€'}}</td>
<!--                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{payment.transactionId}}</td>-->
                  </tr>
                  <tr *ngIf="accountCharges.length === 0">
                    <td colspan="100%">
                      <app-general-banner></app-general-banner>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="flex flex-col md:flex-row" style="border-top: 1px solid lightgray"></div>
                <div class="flex flex-col md:flex-row mt-3">
                  <div class="md:w-3/3 w-full">
                    <div class="flex justify-start md:justify-end">
                      <ngb-pagination
                        [(page)]="page"
                        [boundaryLinks]="false"
                        [collectionSize]="accountCharges.length"
                        [maxSize]="3"
                        [pageSize]="pageSize"
                        [rotate]="true"
                        [ellipses]="true"
                        [directionLinks]="true"></ngb-pagination>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- Button for sm and smaller screens -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-loading-page [pageLoaded]="pageLoaded"></app-loading-page>
