<ng-container *ngIf="pageLoaded && customerInfo">
  <div class="grid max-w-full grid-cols-1 gap-x-6 gap-y-8 md:col-span-2">
    <div class="sm:col-span-4">
      <label class="block text-sm font-medium leading-6 text-gray-900" for="firstName">Vorname</label>
      <div class="mt-2">
        <input #firstName="ngModel"
               [(ngModel)]="studentModel.firstName"
               [class.focus:ring-red-500]="f1.submitted && firstName.invalid"
               [class.placeholder:text-red-300]="f1.submitted && firstName.invalid"
               [class.ring-red-300]="f1.submitted && firstName.invalid"
               [class.text-red-900]="f1.submitted && firstName.invalid"
               autocomplete="given-name"
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
               id="firstName"
               name="firstName"
               required
               type="text">
      </div>
      <p *ngIf="f1.submitted && firstName.invalid " class="m-1 text-sm text-red-600">Pflichtfeld</p>
    </div>
    <div class="sm:col-span-4">
      <label class="block text-sm font-medium leading-6 text-gray-900" for="lastName">Nachname</label>
      <div class="mt-2">
        <input #lastName="ngModel"
               [(ngModel)]="studentModel.lastName"
               [class.focus:ring-red-500]="f1.submitted && lastName.invalid"
               [class.placeholder:text-red-300]="f1.submitted && lastName.invalid"
               [class.ring-red-300]="f1.submitted && lastName.invalid"
               [class.text-red-900]="f1.submitted && lastName.invalid"
               autocomplete="given-name"
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
               id="lastName"
               name="lastName"
               required
               type="text">
      </div>
      <p *ngIf="f1.submitted && lastName.invalid " class="mt-1 text-sm text-red-600">Pflichtfeld</p>
    </div>
    <div class="sm:col-span-4">
      <label class="block text-sm font-medium leading-6 text-gray-900" for="subgroup">Gruppe
        zuordnen</label>
      <select #subgroupModel="ngModel" (ngModelChange)="
    isSelected($event)"
              [(ngModel)]="selectedSubgroup"
              [class.focus:ring-red-500]="f1.submitted && subgroupModel.invalid"
              [class.placeholder:text-red-300]="f1.submitted && subgroupModel.invalid"
              [class.ring-red-300]="f1.submitted && subgroupModel.invalid"
              [class.text-red-900]="f1.submitted && subgroupModel.invalid"
              [required]="!subGroupUnknownModel"
              class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
              id="subgroup"
              name="subgroupModel">
        <option disabled hidden selected value="">Bitte auswählen</option>
        <option
          *ngFor="let subgroup of customerInfo.order.split"
          [value]="subgroup.group">{{subgroup.displayGroupCustomer}}</option>
      </select>
      <p *ngIf="f1.submitted && subgroupModel.invalid " class="mt-1 text-sm text-red-600">Bitte
        auswählen oder ankreuzen</p>

    </div>
    <div class="sm:col-span-4">
      <div class="space-y-5">
        <div class="relative flex items-start">
          <div class="flex h-6 items-center">
            <input (ngModelChange)="setSubgroupSelection($event)" [(ngModel)]="subGroupUnknownModel"
                   aria-describedby="comments-description"
                   class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                   id="subGroupUnknown"
                   name="subGroupUnknown"
                   type="checkbox">
          </div>
          <div class="ml-3 text-sm leading-6">
            <label class="font-medium text-gray-900" for="subGroupUnknown">Nicht bekannt</label>
            <p class="text-gray-500" id="comments-description">Sollten Sie sich unsicher sein in
              welche Untergruppe der Verplegungsteilnemher ist bitte anklicken</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
