@tailwind base;
@tailwind components;
@tailwind utilities;
a:hover {
  cursor: pointer;
}
.invalid-input {
  color: #991b1b !important; /* text-red-900 */
  box-shadow: 0 0 0 2px #fecaca !important; /* ring-red-300 */
  caret-color: #991b1b !important;
}

.invalid-input::placeholder {
  color: #fecaca !important; /* placeholder:text-red-300 */
}

.invalid-input:focus {
  box-shadow: 0 0 0 3px #bfdbfe !important; /* focus:ring-red-500 */
}
@media (max-width: 640px) {
  .remove-class-xs-sm {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
  }
}
.select-language {
  max-width: 130px; /* Legen Sie eine maximale Breite fest */
}


/* Optionale spezifische Anpassungen für verschiedene Typen von Toastr-Nachrichten */
#toast-container > div.toast-success {
  font-size: 14px !important; /* Schriftgröße verkleinern */
  border-radius: 8px !important; /* Ecken abrunden */
  background-color: #28a745 !important;
  color: white !important;
}
#toast-container .toast-icon {
  display: none !important;
}
/* Spezifische Anpassungen für Icons */
#toast-container > div.toast-success .toast-icon {
  font-size: 111px !important; /* Icon-Größe anpassen */
}
#toast-container .icon {
  display: none !important;
}
#toast-container .toast-icon {
  display: none !important;
}
#toast-container > div.toast-error {
  background-color: #dc3545 !important;
  color: white !important;
}

#toast-container > div.toast-warning {
  background-color: #ffc107 !important;
  color: black !important;
}

#toast-container > div.toast-info {
  background-color: #17a2b8 !important;
  color: white !important;
}
