/* first-access-dialog.component.scss */
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-step-header {
  display: none !important;
}

::ng-deep .mat-step-icon, ::ng-deep .mat-step-label {
  display: none !important;
}

::ng-deep .mat-horizontal-stepper-header, ::ng-deep .mat-horizontal-stepper-label-position-bottom {
  display: none !important;
}

.mat-step-content {
  will-change: transform, opacity;
}
